$red: #f15d71;
$dark: #39405e;
$white: #fbfbfa;

body {
  margin: 0;
}
.App {
  text-align: center;
  width: 100vw;
  // height: 100vh;
  font-size: 24px;
  color: $white;
  font-family: "Oswald", sans-serif;
}
.draw-container {
  .h1-box {
    color: $red;
    h1 {
      padding: 10px;
      margin-bottom: 0;
      border-bottom: 2px solid $white;
      border-top: 2px solid $white;
      border-left: 2px solid $white;
      border-right: 2px solid $white;
    }
  }
  h1 {
    text-transform: uppercase;
  }
  h3 {
    color: $red;
  }
}
.achievements-container {
  position: fixed;
  right: 0;
  top: 0;
}

.draw-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #39405e;
}
@media screen and (orientation: landscape) {
  // CSS applied when the device is in landscape mode
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
