@import './colors.scss';

.gamemode-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $dark;
  color: $red;
  .player-number-container {
    padding: 20px;
    cursor: pointer;
  }
  .player-number-container:nth-child(1) {
    color: $white;
    padding: 20px;
    cursor: pointer;
  }
  .player-number {
    font-size: 15vw;
  }
}

@media screen and (max-width: 759px) {
  .gamemode-container {
    .player-number {
      font-size: 30vw;
    }
    h2 {
      font-size: 24px;
    }
  }
}
