@import './colors.scss';

.multiplayer-game{
    height: 100vh;
    width: 100%;
    background: $dark;
    h2{
        margin: 0;
    }
    .player-name{
        margin: 0;
        padding-top: 15px;
        padding-bottom: 20vh;
    }
}

