@import './colors.scss';

.nav {
  background: $red;
  height: 100vh;
  width: 80px;
  position: absolute;
  display: none;
  z-index: 800;
  .nav-option {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: $white;
    font-size: 36px;
  }
  .nav-option:hover {
    background-color: $white;
    cursor: pointer;
    i {
      color: $red;
    }
  }
  .active {
    background-color: $dark;
    i {
      color: $red;
    }
  }
}
.menu {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: $white;
  font-size: 36px;
}
.menu-box {
  background: $red;
  width: 80px;
  position: fixed;
  z-index: 1000;
  .menu {

    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: $white;
    font-size: 36px;
  }
  .menu:hover {
    background-color: $white;
    cursor: pointer;
    i {
      color: $red;
    }
  }
}
.nav {
  .menu:hover {
    background-color: $white;
    cursor: pointer;
    i {
      color: $red;
    }
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltiptext {
  visibility: visible;
}


@media screen and (max-width: 759px) {
  .nav {
    width: 65px;
    .nav-option {
      display: block;
      text-align: center;
      padding: 8px;
      transition: all 0.3s ease;
      color: white;
      font-size: 26px;
    }
  }
  .menu-box {
    width: 65px;
  }
}

// zrobić cursor ?
